################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StavelandDrums/obj
/StavelandDrums/bin
/.vs
/StavelandDrums/stavelanddrums - Web Deploy.pubxml.user
/Fotos
